pytube/
videos/
music/
thumbnails/
config.json
*.mp4
*.mp3
*.webm
*.part
*.mkv
__pycache__
*.pyc
*.bak
setup.config
*.swp
query*.sh
*.command
.mypy_cache
temp/
Pipfile
faces
.mypy_cache
*.log
.vscode/
